<div class="question-answer-container">

  <!-- Show question -->
  <div class="question">
    <h1><%= @question.title %></h1>
    <p><%= @question.body %></p>
    <p>asked <%= @question.time_ago_in_words(@question.created_at)%> ago</p>
    <p><a href="/users/<%=@question.user.id%>"><%= @question.user.username %></a></p>
    <br>
    <% if logged_in? %>
      <% if current_user.id == @question.user_id %>
        <form action = "/questions/<%= @question.id %>/edit" method = "get">
          <input type="submit" value="Edit Question">
        </form>
        <form action = "/questions/<%= @question.id %>" method = "post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Question">
        </form>
      <% end %>
    <% end %>
    <h5>Comments</h5>
      <% if @question.comments %>
        <% @question.comments.each do |comment| %>
          <%= comment.text %>
          <br>
        <% end %>
      <% end %>
    <br>
    <a href = '/questions/<%= @question.id %>/comments/new'>Add a comment</a>
  </div>

  <!-- Show answers -->
  <div class="answer">
    <h2><%= @question.num_answers %> Answer<%= "s" if @question.num_answers != 1 %></h2>
    <div id="answer">
      <%= erb :_answers %>
    </div>

    <!-- Submit new answer -->
    <%= erb :_errors %>
    <form method="POST" action="/questions/<%= @question.id %>/answers/new" id="new-answer">
      <input type = "hidden" name = "answer[user_id]" value = "<%= current_user.id if logged_in? %>">
      <input type = "hidden" name = "answer[question_id]" value = "<%= @question.id %>">
      <textarea rows = '4' cols = '50' name="answer[text]" placeholder = 'Write your answer here'></textarea>
      <br>
      <input type = "submit" value = "Submit Answer">
    </form>

  </div>

</div>
