<% if @question.answers %>
  <% @question.answers.each do |answer| %>
    <table>
      <tr>
        <td>
          <form method="post" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/vote" class="inline" question="<%= @question.id %>" answer="<%= answer.id %>">
            <% if current_user %>
              <% if Vote.find_by(user_id: current_user.id, votable_id: answer.id, votable_type: "Answer") != nil %>
                <button type="submit" name="up" opposite="down" value="submit_value" class="fa fa-chevron-up vote-button up-down-vote-button up-button voted" voted="true"></button>
              <% else %>
                <button type="submit" name="up" opposite="down" value="submit_value" class="fa fa-chevron-up vote-button up-down-vote-button up-button"></button>
              <% end %>
              <br>
              <text class="up-down-vote-button"><%= answer.vote_count %></text>
              <br>
              <button type="submit" name="down" opposite="up" value="submit_value" class="fa fa-chevron-down vote-button up-down-vote-button down-button"></button>
            <% end %>
          </form>
        </td>
        <td>
          <%= answer.text %>
          <p class="answer user and time">answered <%= answer.time_ago_in_words(answer.created_at) %> by <a href="/users/<%=answer.user.id%>"><%= answer.user.username %></a></p>
          <% if current_user %>
            <% if current_user.id == answer.user_id %>
              <form action = "/answers/<%= answer.id %>/edit" method = "get">
              <input type="submit" value="Edit Answer">
              </form>
              <form action = "/answers/<%= answer.id %>" method = "post" class="delete-answer" id="<%= answer.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete Answer">
              </form>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
